html{
    font-size: 100%;
    font-family: "Open sans","sans-serif";
    color: #323232;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../assets/bg.jpg) no-repeat center;
    background-size: cover;
}

.emphasized{
    color: #2F79D4;
}
.title{
    font-size: 1.625rem;
    margin: 0 auto;
    margin-bottom: 1.875rem;
}
input::placeholder{
    color: #838383;
}
.button{
    background: linear-gradient(180deg, #818387 0%, #696B6F 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    padding: 15px 60px;
}
.decor{
    clip-path: polygon(0% 0%, 80% 0%,100% 50%,80% 100%,0% 100%);
}
button.pressed{
    background: linear-gradient(0deg, #256FCA, #256FCA);
}
button.active{
    background: linear-gradient(180deg, #4892EC 0%, #2F79D4 100%);
}
// навести на кнопку можно лишь когда она активна
button.active.hover{ 
    background: linear-gradient(0deg, #3E8FF2, #3E8FF2);
}