html{
    font-size: 100%;
    font-family: "Open sans","sans-serif";
    color: #323232;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../assets/bg.jpg) no-repeat center;
    background-size: cover;
}

.emphasized{
    color: #2F79D4;
}
.title{
    font-size: 1.625rem;
    margin: 0 auto;
    margin-bottom: 1.875rem;
}
input::placeholder{
    color: #838383;
}