@import "./inputs";
form{
    transition: .3s;
}
.form{
    background-color: #fff;
    padding: 2.4375rem 5.625rem 3.375rem 5.625rem;
    max-width: 515px;
    &-field{
        margin-bottom: 1rem;
        &__label{
            font-size: 1.125rem;
            margin-bottom: 0.9rem;
            display: block;
            cursor: pointer;
        }
        &__meters{
            margin-left: 0.875rem;
        }
        &__sum{
            color: #A10031;
        }
    }
}