// Стилизация уникальных элементов страницы
#nav{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
text-decoration-line: underline;

color: #FFFFFF;
}